#filtrowanie-nazwa {
    background-color: #2e2e2e;
    border: 1px solid #303030; /* Obramowanie */
    color: #888888; /* Kolor tekstu */
    padding: 10px; /* Dodanie odstępów wewnętrznych */
    border-radius: 5px; /* Zaokrąglenie rogów */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  #filtrowanie-nazwa:focus {  
    background-color: #2e2e2e;
    /* Kolor tła przy focus */
    border: 1px solid #555; /* Inny kolor obramowania przy focus */
    outline: none; /* Usunięcie domyślnego obramowania focus */
    color: #888888;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  #filtrowanie-kategoria {
    background-color: #303030; /* Kolor tła */
    border: 1px solid #303030; /* Obramowanie */
    color: #888888; /* Kolor tekstu */
    padding: 10px; /* Dodanie odstępów wewnętrznych */
    border-radius: 5px; /* Zaokrąglenie rogów */
  }
  
  #filtrowanie-kategoria:focus {
    background-color: #303030; /* Kolor tła przy focus */
    border: 1px solid #555; /* Inny kolor obramowania przy focus */
    outline: none; /* Usunięcie domyślnego obramowania focus */
    color: #888888; /* Kolor tekstu */

  }

  #filtrowanie-nazwa::placeholder {
    color: #888888;
  }
  